*.mp3
*.mp4
*.avi
.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
.env
.env.*  
*.env
*.part
*.cache
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
*.ytdl
*.db
*.sqlite
